{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl>
      <dt>Title:
      <dd><input type="text" size="30" name="title">
      <dt>Text:
      <dd><textarea name="text" rows="5" cols="40"></textarea>
      <dd><input type="submit" value="Share">
    </dl>
  </form>
  <li class="entries">
  {% for entry in entries %}
      {% if not entry.mark_complete == 1 %}
          <h2>{{ entry.title }}</h2>{{ entry.text|safe }}
          <form action="{{ url_for('mark_complete') }}" method="post">
            <button type="submit">Mark Complete</button>
            <input type="hidden" name="entry_id" value="{{ entry.id }}">
            <input type="checkbox" name="mark_complete">
          </form>

          <form action="{{ url_for('delete_entry') }}" method="post">
              <input type="hidden" name="entry_id" value="{{ entry.id }}">
              <button type="submit">X</button>
          </form>
      {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
